.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card-container {
    display: flex;
    overflow-x: auto;
    /* Use 'auto' for horizontal scrolling */
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    padding-bottom: 10px;
    /* Add some padding at the bottom */
}

.card-container::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.carousel-card {
    flex: 0 0 auto;
    width: calc(20% - 10px);
    /* 20% width for each image with some margin */
    height: auto;
    margin-right: 10px;
    /* Adjust spacing between images */
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}