.mainTopNavbar{
    width: 87vw;
    height: 85px;
    /* background-color: black; */
    background-color: #090909;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}