.mainHome{
    background-color: #090909;
    padding-top: 10%;
    padding-left: 20px;
}

.mainHome .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHome .heading span{
    background-color: #090909;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 70px;
    cursor: pointer;
    margin-right: 80px;
    margin-top: 20px;
}
.mainHome .heading span:hover{
    background-color: #232323;
}
.mainHome .heading span p{
    font-size: 14px;
}

.mainHome .heading p{
    font-size: 30px;
    font-weight: 500;
}

.mainHome .recommended{
    width: 90%;
    margin-bottom: 80px;
}

.mainHome .recommended .songCards .row{
    display: flex;
    width: 100%;
}

.mainHome .playlistCards{
    display: flex;
}

.mainHome .topPlaylist{
    width: 90%;
    margin-bottom: 80px;
}

.mainHome .topArtist{
    width: 90%;
    margin-bottom: 80px;
}

.mainHome .artistCards{
    display: flex;
}