.card{
    /* background-color: red; */
    height: 300px;
    width: 250px;
    border: 2px solid rgb(127, 127, 127);
    box-shadow: 5px 6px 5px rgb(37, 37, 37);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    flex: 0 0 auto;
    margin-right: 90px;
}
.card:hover{
    transform: scale(1.02);
}
.card img{
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
}
.card-content .title p{
    color: white;
    font-size: 20px;
}